* {
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: "Open Sans";
  src: url("Christies.woff") format("woff");
}

body * {
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
}

div {
    font-size: 18px;
}

body {
    padding: 10px;
    font-family: "Open Sans";
}
#logo {
    padding:0;
}
.page_title {
    color: #cc0000;
}

.listing_img_xsmall {
    max-width: 150px;
    max-height: 100px;
}
.listing_img_small {
    max-width: 360px;
    max-height: 300px;
}
.listing_img {
    max-width: 40vw;
    max-height: 60vh;
}
.listing_image_place {
    width: 360px;
    height: 300px;
}
.listing_card {
    width: 400px;
}
@media screen and (max-width: 992px) {
  body * {
      font-size: 30px;
  }
  h1 {
          font-size: 72px;
      }
  h2 {
          font-size: 60px;
      }
  h3 {
          font-size: 48px;
      }
  h4 {
          font-size: 36px;
      }
  .w3-large {
      font-size: 36px !important;
  }
  .w3-xlarge {
      font-size: 48px !important;
  }
  .w3-xxlarge {
      font-size: 60px !important;
  }
}
