{% extends "base.html" %}

{% block body %}
    <!-- Blog Details Hero Begin -->
    <section class="blog-details-hero set-bg" data-setbg="/static/auctions/ima/bid.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog__details__hero__text">
                        <h2>ABOUT US</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Hero End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>OUR STORY</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                
                <div class="col-lg-12 col-md-12 order-md-1 order-1">
                    <div class="blog__details__text">
                        <img src="img/blog/details/details-pic.jpg" alt="">
                        <p>We are simple, ubiquitious and beneficiary platform to bid and sell any product across Nepal. The simple act of pushing a key or moving the mouse reveals a key piece of info about the brand. Because of that, it feels like watching a modern silent movie. The second thing is the way X-Alley introduces us to the environment where all can bid and sell despite any differeces and can attain a chance to dive into their inner fullfillment with satisfactory worth of their products.
                    
                        </p>
                        <p>
                            A lot more FUN and a lot more EARNS are on the way. Let's patiently delve onto this remarkable modern silent magic.
                        </p>
                   </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->

    <!-- Related Blog Section Begin -->
    <section class="related-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related-blog-title">
                        <h2>OUR TEAM</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="static/auctions/team/anil.jpeg" height="350px" alt="anil thapa">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li> 	&nbsp;	&nbsp;	&nbsp;	&nbsp;
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>      &nbsp;	&nbsp;	&nbsp;	&nbsp;
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>    
                            </ul>
                            <h5>Anil Thapa</h5>
                            <p>No one made me. I made me </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="static/auctions/team/avit.jpeg" height="350px" alt="avit rai hodibu">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li> 	&nbsp;	&nbsp;	&nbsp;	&nbsp;
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>      &nbsp;	&nbsp;	&nbsp;	&nbsp;
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>    
                            </ul>
                            <h5>Avit Rai Hodibu</h5>
                            <p>I always think better is waiting for me. I just need to work little more </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="static/auctions/team/bipul.jpeg" height="350px" alt="bipul karki">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li> 	&nbsp;	&nbsp;	&nbsp;	&nbsp;
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>      &nbsp;	&nbsp;	&nbsp;	&nbsp;
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>    
                            </ul>
                            <h5>Bipul Karki</h5>
                            <p>Errors are only errors when one fails to observe the success of some extent</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- Related Blog Section End -->


{% endblock %}
